.weather {
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("https://images.unsplash.com/photo-1557985093-c6a852da1c55?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80");
}


.clear {
  background-image:url("https://images.unsplash.com/photo-1540457943340-2e70b692e50e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
}

.snow{
  background-image:url("https://images.unsplash.com/photo-1519293515161-2b9fd3c9a4dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.rain{
  background-image:url("https://images.unsplash.com/photo-1486016006115-74a41448aea2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=747&q=80");
}

.mist{
  background-image:url("https://images.unsplash.com/photo-1470217957101-da7150b9b681?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8bWlzdCUyMGluJTIwY2l0eXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
}

.clouds {
  background-image:url("https://images.unsplash.com/photo-1609780604185-347ff6124bff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
}

.weather__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
  width: 75%;
  height: 80%;
  background: rgba(255,255,255,0.2);
  padding: 3em;
  position: relative;
  z-index:1;
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45,54,68,0.03);
}

.weather__banner{
  color: #ffc107;
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  text-shadow: 2px 2px 8px #474545;
}

.weather__output {
  position: relative;
  display:flex;
  margin-top: 1%;
  width: 90%;
  height: 80%;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.weather__mapContainer {
  border-radius: 12px;
  width: 100%;
  //margin: 2%;
  height: 100%;
}

.data-container{
  padding: 24px;
  position: absolute;
  left: 0;
  margin-bottom: 50px;
}
